<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.springfile.springintro.japan" id="japan">
        <constructor-arg name="age" value="12"/>
        <constructor-arg name="name" value="Hiroshima"/>
        <constructor-arg name="id" value="1"/>
    </bean>
    <bean id = "ph1" class="com.springfile.springintro.Philppe" init-method="initmethod" destroy-method="destroymethod">
        <property name="name" value="Nirajan"/>
        <property name="price" value="21"/>
    </bean>
    <bean id="inter" class="com.springfile.springintro.Inter">
        <property name="version" value="12"/>
        <property name="name" value="Nirajan"/>
    </bean>
</beans>